.name {
    width: 140px;
  }
  
  .designation {
    width: 140px;
  }
  
  .department {
    width: 140px;
  }
  
  .email {
      width: 140px;
  }
  
  .mobileNo {
      width: 100px;
  }
  
  table thead tr th {
      font-size: 12px;
  }
  
  .personList {
      font-size: 12px;
  }
  