@import './styles/third-party/normalize';
@import '../../configs/config-styles';
@import './styles/typography';
@import './styles/links';

:global(body) {

}

.btn-fixed {
  position: fixed;
  z-index: 100;
  right: 60px;
  top: 93px;
}
