.hsnCode {
  width: 63px;
}

.quantity {
  width: 63px;
}

.rate {
  width: 63px;
}

.gst {
	width: 63px;
}

.file {
	width: 106px;
}

#productList > tbody > tr:nth-child(1) {
	background-color: #bfccd91a;
}


table thead tr th {
	font-size: 12px;
}

.link {
	font-size: 14px;
}

figure {
  width: 100px;
	background-repeat: no-repeat;
	margin: 0 !important;

}

figure:hover img {
  opacity: 0;
}

img {
	display: block;
  pointer-events: none;
}

:local(.styles) {
	@media (min-width: 576px) {
		.modal-dialog {
			max-width: 1198px !important;
			margin: 1.75rem auto;
		}
	}
}
