.quote {
    width: 100%;
    text-align: center;
}

.header {
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

.child > table tr td {
    border: 1px solid black;
    padding: 10px;
}

.child > table tr th {
    border: 1px solid black;
    padding: 10px;
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 924px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 924px;
        margin: 1.75rem auto;
    }
}
