:local(.styles) {
    margin-top: 80px;
    background-color: white;
    padding: 14px;
}

strong {
    font-weight: 600;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head {
  padding: 15px;
  background-color: #fbb749;
  color: white;
}

.step {
    padding: 10px;
    background-color: #f4f4f487;
    margin-top: 25px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
}

.text {
  letter-spacing: .9px;
  font-size: 17px;
}

div.checkmark .circle, .circle1, .disabled-circle {
    font-size: 16px; // this determines the size of the list text and therefore checkmark size
    list-style-type: none; // remove default list style
    // margin-bottom: 1em; // lists need to be able to breathe
    // padding: 0.25em 0 0 2.5em; // make room for the circle
    position: relative; // because we want to position the circle in an absolute fashion
    padding-left: 4em;
    padding-top: .6em;
  }

  .active-step {
		border: 1px solid #007bff;
	}

  div.checkmark .circle:before, .circle1:before {
    content: " "; // the circle itself is empty
    display: block;
    border: solid 0.8em green; // create a colored area...
    border-radius: .8em; // ... and turn it into a circle
    height: 0;
    width: 0;
    position: absolute; // the circle is then put into place
    left: 0.5em;
    top: 40%; 
    margin-top: -0.5em;
  }

  div.checkmark .circle:after {
	content: " ";
	display: block;
	width: 0.4em;
	height: 0.8em;
	border: solid white;
	border-width: 0 0.2em 0.2em 0;
	position: absolute;
	left: 1.1em;
	top: 40%;
  margin-top: -0.2em;
  -webkit-transform: rotate(45deg); // tilts the shape
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}


///// Disabled circle /////

div.checkmark .disabled-circle:before {
  content: " "; // the circle itself is empty
  display: block;
  border: solid 0.8em gray; // create a colored area...
  border-radius: .8em; // ... and turn it into a circle
  height: 0;
  width: 0;
  position: absolute; // the circle is then put into place
  left: 0.5em;
  top: 40%; 
  margin-top: -0.5em;
}

div.checkmark .disabled-circle:before {
  content: " "; // the circle itself is empty
  display: block;
  border: solid 0.8em gray; // create a colored area...
  border-radius: .8em; // ... and turn it into a circle
  height: 0;
  width: 0;
  position: absolute; // the circle is then put into place
  left: 0.5em;
  top: 40%; 
  margin-top: -0.5em;
}

.vertical-line {
  width: 2px;
  height: 88px;
  background: #3c9aae;
  margin: 65px auto 0 20px;
  position: absolute;
  left: 24px;
}

.float-right {
  float: right
}

#steps > div.active-step:hover {
  box-shadow: 0px 5px 25px rgba(29,34,47,0.15);
}

// #steps > div.flex-center.step.checkmark.active-step > div > button {
//   background-color: #f08820;
//   color: white;
//   border-color: #f08820;
// }

// #steps > div.flex-center.step.checkmark.active-step > div > button:hover {
//   background-color: #f9f9f9;
//   color: #f08820;
//   border-color: #f08820;
// }

// #steps > div.disabled > div > button {
//   color: #f08820;
//   border-color: #f08820;
// }


.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}